PORT_SERVER=8080
SERVICE_NAME=python

ACCESSTOKENCOOKIE = 'access-token-cookie'
REFRESHTOKEN = 'refresh-token'
JWTSECRETKEY = 'aBcD12!'
JWTREFRESHKEY = 'some-refresh-secret-key'

USER_DB = "root"
PASS_DB = "root"
HOST_DB = "localhost"
PORT_DB = "8889"
DBNAME = "play"